
<div>
    <h4>@Username</h4>
    <h6>Chanche of wrong move: @(Randomness)%</h6>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public int Randomness { get; set; }
}
