@page "/{GameId}"
@using Services
@using RndTacToe.Client.Components
@inject IMainHelpersService MainHelpersService;

<div class="container">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="d-flex justify-content-between">
        @if (!string.IsNullOrEmpty(currentPlayerName))
        {
            <UserColumn Username="@currentPlayerName" Randomness="@currentRandomness"></UserColumn>
        }
        <h4>Vs.</h4>
        @if (!string.IsNullOrEmpty(enemyPlayerName))
        {
            <UserColumn Username="@enemyPlayerName" Randomness="@enemyPlayerRandomness"></UserColumn>
        }
        else
        {
            <h4>Waiting for player to connect...</h4>
        }
    </div>
</div>

@code {
    [Parameter]
    public string GameId { get; set; }

    private string currentPlayerName;
    private int currentRandomness = 0;
    private string enemyPlayerName;
    private int enemyPlayerRandomness = 0;

    private string[][] GameGrid = new string[3][];

    protected override void OnInitialized()
    {
        currentPlayerName = MainHelpersService.GetCurrentPlayerName();
        currentRandomness = MainHelpersService.GetCurrentRandomness();
        InitializeEmptyGrid();
    }

    void InitializeEmptyGrid()
    {
        string[] emptyRow = new string[] { "", "", "" };
        for (int i = 0; i < 3; i++)
        {
            GameGrid[i] = emptyRow;
        }
    }
}
