@page "/"
@using Services;
@inject IMainHelpersService MainHelperService;
@using RndTacToe.Shared;

<div class="container main-index-container">
    <EditForm Model="@userNameForm" OnValidSubmit="@OnSubmit">
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            <label id="username" class="form-label-custom">Username</label>
            <InputText class="form-control" id="username" @bind-Value="@userNameForm.Username" />
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-light" style="background-color: #f3f5ef">Create Game</button>
        </div>
    </EditForm>
</div>

@code {
    private LoginForm userNameForm = new LoginForm();

    void OnSubmit() 
    {
        var guidForSignalR = Guid.NewGuid().ToString();
        Console.WriteLine(guidForSignalR);
        MainHelperService.SetCurrentUserName(userNameForm.Username);
        MainHelperService.SetRandomnessValue(userNameForm.Username);
    }
}