@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #373b47;
    color: #f6c962;
}

.main-title {
    font-size: 5rem;
}
.main-subtitle {
    font-size: 3rem;
}

.form-label-custom {
    font-size: 2.5rem;
}

.main-index-container {
    padding-top: 20vh;
}

.validation-message {
    color: #b99e9a;
}