@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <header>
        <div class="d-flex justify-content-center pt-3" @onclick="@(() => NavigationManager.NavigateTo("/"))">
            <h1 class="main-title">Rnd Tac Toe</h1>
        </div>
        <div class="d-flex justify-content-center text-center">
            <h2 class="main-subtitle">
                @if (string.IsNullOrEmpty(selectedMessage))
                {
                    <span>&nbsp;</span>
                }
                else
                {
                    <span class="main-subtitle-text">@selectedMessage</span>
                }
            </h2>
        </div>
    </header>
    <hr />
    <section id="body">
        @Body
    </section>
    <hr />
    <Footer></Footer>
</div>

@code {
    private readonly Random _rnd = new Random();
    private string selectedMessage { get;  set; }

    private string[] messages = new string[]
    {
        "Bruh",
        "Oopsie woopsie u did a f*cky wucky OwO",
        "CANNOT >;))",
        "F*CK THIS.",
        "OBJECTION!",
        "PRANK'D",
        ">Implying it does what you asked",
        "Oh no",
    };


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            selectedMessage = messages[_rnd.Next(messages.Length)];
            base.StateHasChanged();
        }
    }
}
