@inject NavigationManager NavigationManager

<footer class="container p-4 text-center">
    <a class="anchor-custom" href="https://github.com/NikPiermafrost/RandomTicTacToe">Random Tic Tac Toe</a><br />
    <NavLink class="anchor-custom" href="/about">About this project</NavLink><br />
    <a class="anchor-custom" href="https://www.facebook.com/Il.Pierma/">Facebook</a><br />
    <a class="anchor-custom" href="https://www.linkedin.com/in/nicola-piermattei-9ba4a41a1/">Linkedin</a><br />
    <span>©2020 Nicola Piermattei</span>
</footer>

@code {
}
