@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <header>
        <div class="d-flex justify-content-center pt-2" @onclick="@(() => NavigationManager.NavigateTo("/"))">
            <h1 class="main-title">Rnd Tac Toe</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h2 class="main-subtitle">@selectedMessage</h2>
        </div>
    </header>
    <hr />
    <section id="body">
        @Body
    </section>
    <hr />
    <Footer></Footer>
</div>

@code {
    private Random rnd = new Random();
    private string selectedMessage = "";
    private string[] messages = new string[]
    {
        "Bruh",
        "Oopsie woopsie u did a f*cky wucky OwO",
        "CANNOT >;))",
        "F*CK THIS.",
        "OBJECTION!",
        "PRANK'D",
        "Cringe",
        "SMH",
        ">Implying it does what you asked"
    };

    protected override void OnInitialized()
    {
        var index = rnd.Next(messages.Count());
        selectedMessage = messages[index];
    }
}
