@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <h1 class="main-title">(R)ic (N)ac (D)oe</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h3 class="main-subtitle">>implying the computer does the requested move</h3>
    </div>
    <hr />
    @Body
</div>
