<nav class="min-w-max h-screen shadow-lg shadow-gray-800 hidden lg:block bg-darkBlue">
  <ul class="p-3">
    <li routerLinkActive="active" class="menu-item">
      <a routerLink="/">
        <i class="fas fa-home mr-1"></i> Home
      </a>
    </li>
    <li routerLinkActive="active" class="menu-item">
      <a routerLink="/new-game">
        <i class="fas fa-plus-circle mr-1"></i> New
      </a>
    </li>
    <li routerLinkActive="active" class="menu-item">
      <a routerLink="/join-game">
        <i class="fas fa-user-plus mr-1"></i> Join
      </a>
    </li>
<!--    <a class="menu-item">-->
<!--      <i class="fas fa-cog mr-1"></i> Settings-->
<!--    </a>-->
  </ul>
</nav>
<nav class="lg:hidden flex justify-between fixed bottom-0 w-screen border-t-yellow border-t-2 p-3 bg-darkBlue">
  <a routerLink="/" routerLinkActive="active" class="menu-item-mobile">
    <i class="fas fa-home"></i>
  </a>
  <a routerLink="/new-game" routerLinkActive="active" class="menu-item-mobile">
    <i class="fas fa-plus-circle"></i>
  </a>
  <a routerLink="/join-game" routerLinkActive="active" class="menu-item-mobile">
    <i class="fas fa-user-plus"></i>
  </a>
<!--  <div class="menu-item-mobile">-->
<!--    <i class="fas fa-cog"></i>-->
<!--  </div>-->
</nav>
