<section id="about" class="flex justify-center">
  <div class="container text-center">
    <h4>About this project</h4>
    <p>This project was born because of pure Boredom.</p>
    <p>One Saturday i woke up and thought, what about Tic Tac Toe, but cursed?</p>
    <p>In just a couple of hours the game was born. Although this doesn't deserve to exist, I created this project to
      put a smile on your faces (or smash your phone/keyboard/whatever).</p>
    <p>The game was made entirely in c# (.net 5), with a asp.net core backend and Blazor Webassembly</p>
    <p>Due to the effort in develop it due to poor support for the template linter, and due to the plan to do something
      bigger and useless, I have scraper Blazor WebAssembly in favour of dotnet 6 minimal api for backend and Angular 13
      for the frontend.</p>
    <p>I don't really need help to maintain this abomination, but in case you want to contribute in some ways, the
      project is entirely Open Source.</p>
    <p>You can find my github repository in the footer, if you want to pay me a coffee or help me with the legal
      consequences that this game m a y cause me, here is my</p>
    <a href="https://www.paypal.com/paypalme/NikPiermafrost" class="anchor-custom">Paypal Profile</a>
    <p>Thanks in advance, hope you will hate me for this!</p>
    <a class="anchor-custom" routerLink="/">Back to the game!</a>
  </div>
</section>
