<form (submit)="onSubmit()" [formGroup]="joinGameForm" class="container lg:w-2/3 mx-auto">
  <div class="p-4">
    <label for="username" class="text-2xl block">Username</label>
    <input type="text" class="w-full rounded bg-darkBlue text-yellow px-3 py-2 focus:outline-none focus:border-yellow focus:border-2" formControlName="username" id="username">
    <small *ngIf="joinGameForm.get('username')?.invalid">
      Username lenght must be bewteen 4 and 16 characters
    </small>
  </div>
  <div class="p-4">
    <label for="game-code" class="text-2xl block">Insert the game code to join!</label>
    <input type="text" class="w-full rounded bg-darkBlue text-yellow px-3 py-2 focus:outline-none focus:border-yellow focus:border-2" id="game-code" formControlName="gameCode">
  </div>
  <div class="flex justify-end p-4">
    <button type="submit" [disabled]="joinGameForm.invalid" class="button-custom">
      Join Game
    </button>
  </div>
  <div class="flex justify-center p-4">
    Or
  </div>
  <div class="p-4">
    <div class="flex justify-between p-4">
      <span class="text-2xl">Join a Public Game!</span>
      <span class="text-2xl cursor-pointer" (click)="loadLobby()">
        <i class="fas fa-sync-alt"></i>
      </span>
    </div>
    <ng-container *ngIf="gameDoesNotExists">
      <div class="p-4">
        <p>Game does no longer exists!</p>
      </div>
    </ng-container>
    <ng-container *ngIf="lobby.length === 0">
      <div class="p-4">
        <p>No public games available :(</p>
      </div>
    </ng-container>
    <ul *ngIf="lobby.length" class="flex flex-col pl-0">
      <li *ngFor="let room of lobby" class="rounded relative block py-2 px-4 border border-yellow">
        <div class="flex justify-between">
          <span>{{ room.playerName }}</span>
          <span class="cursor-pointer" (click)="onJoinPublic(room.gameId)" *ngIf="!joinGameForm.get('username')?.invalid">
            <i class="fas fa-chevron-circle-right"></i>
          </span>
          <span *ngIf="joinGameForm.get('username')?.invalid">
            <i class="fas fa-ban"></i>
          </span>
        </div>
      </li>
    </ul>
  </div>
</form>
