<div class="container main-index-container" style="max-width: 500px;">
  <div class="w-100 d-flex justify-content-start mb-3">
    <a class="new-game" routerLink="/new-game" routerLinkActive="selected">
      New Game
    </a>
    <a class="join-game" routerLink="/join-game" routerLinkActive="selected">
      Join Game
    </a>
  </div>
  <router-outlet></router-outlet>
  <!--    <div class="form-group">-->
  <!--      <label for="username" style="font-size: 1.5rem">Username</label>-->
  <!--      <input type="text" class="form-control" formControlName="username" id="username">-->
  <!--    </div>-->

  <!--    <ng-container *ngIf="!isJoin">-->
  <!--      <div class="form-group" style="margin-bottom: .5rem;">-->
  <!--        <input type="checkbox" formControlName="public" id="public" class="form-check-input" />-->
  <!--        <label class="form-check-label mr-1" for="public">-->
  <!--          Public-->
  <!--        </label>-->
  <!--      </div>-->
  <!--    </ng-container>-->
  <!--    <ng-container *ngIf="!isJoin">-->
  <!--      <span style="font-size: 1.5rem; margin-bottom: .5rem; display: inline-block">New Game</span>-->
  <!--      <div class="w-100" *ngIf="randomGameCode.length">-->
  <!--        <div class="room-code" (click)="copyGameCodeToClipBoard()">Copy room code</div>-->
  <!--      </div>-->
  <!--    </ng-container>-->
  <!--    <ng-container *ngIf="isJoin">-->
  <!--      <label for="game-code" style="font-size: 1.5rem">Insert the game code to join!</label>-->
  <!--      <div class="form-group">-->
  <!--        <input class="form-control w-100" id="game-code" formControlName="gameCode">-->
  <!--      </div>-->
  <!--    </ng-container>-->
  <!--    <hr />-->
  <!--    <div class="d-flex justify-content-end">-->
  <!--      <button type="submit" [disabled]="startForm.invalid" class="btn btn-sm btn-light btn-submit">-->
  <!--        {{ isJoin ? 'Join Game' : 'Start Game' }}-->
  <!--      </button>-->
  <!--    </div>-->

</div>
