.selected {
  background-color: #f6c962 !important;
  color: #373b47 !important;
}

.new-game {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f5ef;
  color: #373b47;
  width: 50%;
  padding: 5px;
  text-decoration: none;
}

.join-game {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #f3f5ef;
  color: #373b47;
  width: 50%;
  padding: 5px;
  text-decoration: none;
}

.room-code {
  border-radius: 5px;
  background-color: #f3f5ef;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  color: #373b47;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}
