<div class="container main-index-container" style="max-width: 500px;">
  <form (submit)="onSubmit()" [formGroup]="startForm">
    <div class="w-100 d-flex justify-content-start mb-3">
      <div class="new-game" [ngClass]="{
        'unselected': isJoin,
        'selected': !isJoin
      }" (click)="onNewClick()">
        New Game
      </div>
      <div class="join-game" [ngClass]="{
        'selected': isJoin,
        'unselected': !isJoin
      }" (click)="onJoinClick()">
        Join Game
      </div>
    </div>
    <div class="form-group">
      <label for="username" style="font-size: 1.5rem">Username</label>
      <input type="text" class="form-control" formControlName="username" id="username">
    </div>

    <ng-container *ngIf="!isJoin">
      <span style="font-size: 1.5rem; margin-bottom: .5rem; display: inline-block">New Game</span>
      <div class="w-100" *ngIf="randomGameCode.length">
        <div class="room-code" (click)="copyGameCodeToClipBoard()">Copy room code</div>
      </div>
    </ng-container>
    <ng-container *ngIf="isJoin">
      <label for="game-code" style="font-size: 1.5rem">Insert the game code to join!</label>
      <div class="form-group">
        <input class="form-control w-100" id="game-code" formControlName="gameCode">
      </div>
    </ng-container>
    <hr />
    <div class="d-flex justify-content-end">
      <button type="submit" [disabled]="startForm.invalid" class="btn btn-sm btn-light btn-submit">
        {{ isJoin ? 'Join Game' : 'Start Game' }}
      </button>
    </div>
  </form>
</div>
