<div class="container lg:w-1/3 mx-auto">
  <div class="w-full p-4">
    <button type="button" class="back-to-home w-full" (click)="backToHome()">
      Back to Home
    </button>
  </div>
  <div class="flex justify-center mt-2">
    <h4>{{ opponentName.length ? ('You\'re against ' + opponentName) : 'Waiting for opponent to connect...' }}</h4>
  </div>
  <div class="flex justify-center mt-2">
    <h4>{{ isYourTurn ? "Your" : opponentName }} turn!</h4>
  </div>
  <div class="flex justify-center mt-2" *ngIf="isConnected">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let item of gameGrid" (click)="move(item.cellPosition)">
        {{ item?.storedChar }}
      </div>
    </div>
  </div>
  <div class="w-full mt-2 p-4" *ngIf="hasSomeoneWon && !opponentHasDisconnected">
    <button type="button" class="rematch w-full" (click)="rematch()">
      {{ isYourTurn ? 'Rematch!' : 'Waiting for opponent to accept...' }}
    </button>
  </div>
  <div class="w-full my-2 text-center p-4" *ngIf="opponentHasDisconnected">
    Your opponent has disconnected, redirecting to home in a second...
  </div>
</div>
