/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #373b47;
  color: #f6c962;
}

.main-index-container {
  padding-top: 8vh;
}

.validation-message {
  color: #b99e9a;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container div {
  margin: 0 5px 5px 0;
}

.grid-item {
  border: 5px solid #b99e9a;
  font-size: 3.9rem;
  text-align: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 3px !important;
}

.anchor-custom {
  color: #f6c962 !important;
  cursor: pointer;
  text-decoration: underline !important;
  margin-bottom: 1.5%;
  font-size: 1.5rem;
}

.anchor-custom:hover {
  color: #f6c962 !important;
  cursor: pointer;
  text-decoration: underline !important;
}

.unselected {
  background-color: #f3f5ef;
  color: #373b47;
  width: 50%;
  cursor: pointer;
  padding: 5px;
}

.selected {
  background-color: #f6c962;
  color: #373b47;
  width: 50%;
  cursor: pointer;
  padding: 5px;
}

.new-game {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.join-game {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.room-code, .back-to-home, .rematch {
  border-radius: 5px;
  background-color: #f3f5ef;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  color: #373b47;
}
