/* You can add global styles to this file, and also import other style files */

@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none !important;
}

body {
  @apply bg-blue text-yellow
}
